.singleFeedSet .singleFeed img {
	height:200px;
}
.singleFeedSet .singleFeed .info {
	position: relative;
	margin-top: 20px;
}
.singleFeedSet .singleFeed .info p{
	margin-bottom: 0px;
}
.singleFeedSet .singleFeed .info .full-hashtags {
    position: absolute;
    top: 40px;
    max-width: 100%;
    display: block;
    word-wrap: break-word;
    border: 1px #bce8f1 solid;
    color: #3a87ad;
    background-color: #d9edf7;
    z-index: 1;
}

.singleFeedSet .singleFeed {
	text-align: center;
	padding:20px;
	margin-left: 20px;
	margin-bottom: 20px;
	display: inline-block;


}
.singleFeedSet .singleFeed img {
	opacity:0.5;
	transition: opacity .45s ease-in-out;
   -moz-transition: opacity .45s ease-in-out;
   -webkit-transition: opacity .45s ease-in-out;
}
.singleFeedSet img.selected{
	opacity:1;
}

.feedSets .title {
	display: inline-block;
}
.feedSets .error {
	display: inline-block;
	color: #d9534f;
	font-size:18px;
}
.feedSets .nav-tabs form {
    margin-bottom: 0px !important;
}
.feedSets .nav-tabs #newFeedSetName-form .addButton {
	display: inline-block;
	cursor:pointer;
}
.feedSets .nav-tabs #newFeedSetName-form span{
	margin-top: 25px;
    position: relative;
    font-size: 20px;
}
.feedSets .nav-tabs li label{
    height: 29px;
	padding: 5px 30px 0px 10px;
	margin-bottom: 0px !important;
}
.feedSets .nav-tabs li.active label{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.feedSets .nav-tabs li .removeTabBtn {
	display: inline-block;
    position: absolute;
    top: 0%;
    padding: 1px;
    right: 0px;
    cursor: pointer;
    background-color: #cccccc;
    color: #337ab7;
}
.feedSets .nav-tabs li .edit input {
	display: none;
} 
.feedSets .nav-tabs li.editing .item {
	display: none;
}
.feedSets .nav-tabs li.editing .edit input {
	margin: 3px;
	display: block;
}
.hashTag-form label {
	display:inline-block;
}
.hashTag-form form {
	display:none;
}
.hashTag-form.editing label {
	display: none;
}
.hashTag-form.editing form {
	display: block;
}
.hashTag-form.editing form .input-area{
	display: inline-block;
}
.hashTag-form .my-progress-bar {
	width: 100px;
    height: 18px;
    background: url("/typo3conf/ext/instafeed/Resources/Public/Icons/loading-bar.gif");
    background-position: 50% 48%;
    display: inline-block;
}