.fe_instafeed {
	.singleFeed {
		padding:20px;
		display: inline-block;
		img {
			height:250px;
		}
		.info {
			width: 100%;
    		position: relative;
    		text-align: center;
			p {
				width: 240px;
			    word-wrap: break-word;
			    margin-left: 50%;
			    transform: translateX(-50%);
			}
		}
	}
}

.error {
	color:#a94442;
	font-size: 18px;
}