
<table class="tx-instafeed" >
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_rawpictures.url" />
		</td>
		<td>
			{rawPictures.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_rawpictures.hashtag" />
		</td>
		<td>
			{rawPictures.hashtag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_rawpictures.notes" />
		</td>
		<td>
			{rawPictures.notes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_rawpictures.selected" />
		</td>
		<td>
			{rawPictures.selected}
		</td>
	</tr>
</table>