
<table class="tx-instafeed" >
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_selectedpicture.url" />
		</td>
		<td>
		{selectedPicture.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_selectedpicture.hashtag" />
		</td>
		<td>
		{selectedPicture.hashtag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_selectedpicture.notes" />
		</td>
		<td>
		{selectedPicture.notes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_selectedpicture.selected" />
		</td>
		<td>
		{selectedPicture.selected}
		</td>
	</tr>
</table>