
{namespace comments=Cerebrum\Instafeed\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<script type="text/javascript">
</script>
<h1>List of selected Instagram Feeds (v2)</h1>
<p class="error">
	{errorMsg}
</p>
<h4>Campaign Name: {campaignName}</h4>
<f:flashMessages />

<div class="fe_instafeed">

	<div class="row">

		<f:for each="{feeds}" as="rawPicture">
			<div class='singleFeed <f:if condition="{rawPicture.selected}==1">selected</f:if>'>
				<img src="{rawPicture.url}" />
				<div class="info">
					<p class="hidden">Hashtag:{rawPicture.hashtag}</p>
					<p>{rawPicture.notes}</p>
				</div>
				<div class="rating">
		    		<div class="toctoccomments hidden">
		        		<comments:toctoccomments rawPicture="{rawPicture}"/>
		    		</div>
				</div>
			</div>
		</f:for>
	</div>
</div>


</f:section>