
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<script type="text/javascript">
	var urlSelectUpdate = '<f:uri.action action="select" controller="RawPicture" noCacheHash="1" noCache="1"/>';
</script>
<h1>List of Instagram Pictures based on hashtag</h1>

<f:flashMessages />
<f:form method="post" controller="RawPicture" action="updateAll">
	<label>Input the hashtag (Including #, could be multiple)</label><br/>
	<f:form.textfield name="tx_instfeed[hashtag]" /><br/>
	<label>Access Token (leave it unchanged unless notification)</label><br/>
	<f:form.textfield name="tx_instfeed[access_token]" value="4036265431.061253b.13db852b5a6c4e83820dfaaf16edd776" /> <br/>
	<label>Storage Page ID(hover on page to find)</label>
	<f:form.textfield name="tx_instfeed[storage]" value="49" /> <br/>
	<f:form.submit class="submit" value="Synchronize" />

</f:form>


<div class="tx_instafeed" >

	<div class="row">
		<f:for each="{rawPictures}" as="rawPicture">
			<div class='singleFeed col-sm-3 <f:if condition="{rawPicture.selected}==1">selected</f:if>' id-field="{rawPicture.uid}" select="{rawPicture.selected}">
				<img src="{rawPicture.url}" />
				<div class="info">
					<p>Hashtag:{rawPicture.hashtag}</p>
					<p>{rawPicture.notes}</p>
				</div>
			</div>
		</f:for>
	</div>
</div>

<f:link.action action="list" controller="SelectedPicture" arguments="{argus : 1}">Goto list of selected</f:link.action>
</f:section>