
<table class="tx-instafeed" >
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_selectedpictures.url" />
		</td>
		<td>
			{selectedPictures.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_selectedpictures.hashtag" />
		</td>
		<td>
			{selectedPictures.hashtag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_selectedpictures.notes" />
		</td>
		<td>
			{selectedPictures.notes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_selectedpictures.selected" />
		</td>
		<td>
			{selectedPictures.selected}
		</td>
	</tr>
</table>