
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for SelectedPicture</h1>

<f:flashMessages />

<table  class="tx_instafeed" >
	<tr>
		<th><f:translate key="tx_instafeed_domain_model_selectedpicture.url" /></th>
		<th><f:translate key="tx_instafeed_domain_model_selectedpicture.hashtag" /></th>
		<th><f:translate key="tx_instafeed_domain_model_selectedpicture.notes" /></th>
		<th><f:translate key="tx_instafeed_domain_model_selectedpicture.selected" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{selectedPictures}" as="selectedPicture">
		<tr>
			<td><f:link.action action="show" arguments="{selectedPicture : selectedPicture}"> {selectedPicture.url}</f:link.action></td>
			<td><f:link.action action="show" arguments="{selectedPicture : selectedPicture}"> {selectedPicture.hashtag}</f:link.action></td>
			<td><f:link.action action="show" arguments="{selectedPicture : selectedPicture}"> {selectedPicture.notes}</f:link.action></td>
			<td><f:link.action action="show" arguments="{selectedPicture : selectedPicture}"> {selectedPicture.selected}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{selectedPicture : selectedPicture}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{selectedPicture : selectedPicture}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New SelectedPicture</f:link.action>
</f:section>