
<label for="url">
	<f:translate key="tx_instafeed_domain_model_rawpicture.url" />
</label><br />
	<f:form.textfield property="url" /><br />
<label for="hashtag">
	<f:translate key="tx_instafeed_domain_model_rawpicture.hashtag" />
</label><br />
	<f:form.textfield property="hashtag" /><br />
<label for="notes">
	<f:translate key="tx_instafeed_domain_model_rawpicture.notes" />
</label><br />
	<f:form.textfield property="notes" /><br />
<label for="selected">
	<f:translate key="tx_instafeed_domain_model_rawpicture.selected" />
</label><br />
	<f:form.checkbox property="selected" value="1" /><br />
<label for="id">
	<f:translate key="tx_instafeed_domain_model_rawpicture.id" />
</label><br />
	<f:form.textfield property="id" /><br />