
<table class="tx-instafeed" >
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_rawpicture.url" />
		</td>
		<td>
		{rawPicture.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_rawpicture.hashtag" />
		</td>
		<td>
		{rawPicture.hashtag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_rawpicture.notes" />
		</td>
		<td>
		{rawPicture.notes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_rawpicture.selected" />
		</td>
		<td>
		{rawPicture.selected}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_instafeed_domain_model_rawpicture.id" />
		</td>
		<td>
		{rawPicture.id}
		</td>
	</tr>
</table>